{
    "conf" : {
        "account" : {
            "CK" : "*****************************",
            "CS" : "*****************************",
            "AT" : "*****************************",
            "AS" : "*****************************"
        },
        "location" : {
            "lat" : "35.7018563",
            "lon" : "139.7682664",
            "name" : "東京都千代田区"
        }
    }
}
